<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" id="com.dev88.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets">
  <name>测试专用</name>
  <description>测试专用APP</description>
  <author href="http://.app.dev88.com" email="kfonskw@163.com">app.dev88.com</author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="SplashScreen" value="screen" />
  <preference name="splashScreenDelay" value="2000" />
  <preference name="target-device" value="universal" />
  <!--不是全屏-->
  <preference name="Fullscreen" value="false" />
  <!--隐藏键盘上的工具栏-->
  <preference name="HideKeyboardFormAccessoryBar" value="true"/>
  <!--横屏竖屏锁定，可设置值为default|landscape|portrait，其中default指根据手机自身设置显示-->
  <preference name="Orientation" value="portrait" />
  
  <!--<platform name="android">
    <icon src="res/icons/android/icon-36-ldpi.png" density="ldpi" />
    <icon src="res/icons/android/icon-48-mdpi.png" density="mdpi" />
    <icon src="res/icons/android/icon-72-hdpi.png" density="hdpi" />
    <icon src="res/icons/android/icon-96-xhdpi.png" density="xhdpi" />
  </platform>-->

  <vs:plugin name="org.apache.cordova.splashscreen" version="0.3.3" />
  <vs:platformSpecificValues />
</widget>